.item{
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 10px 5px;

    font-size: 1.6em;
    color: initial;

    border: none;
    border-bottom: 1px solid var(--main-color);
    background: transparent;

    transition: 0.5s;
    resize: none;
    overflow: hidden;
}

.item::placeholder{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.item:hover,
.item:focus{
    outline: none;
}


.item:focus::placeholder{
    opacity: 0;
}

.item:first-letter{
    text-transform: uppercase;
}