.item{
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 10px 5px;

    font-size: 14px;

    border: none;
    border-bottom: 1px solid var(--main-color);
    background: transparent;

    transition: 0.5s;
}

.item_center{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.item:hover,
.item:focus{
    outline: none;
    /*background: linear-gradient(to top, var(--secondary-color), var(--main-color), var(--secondary-color));*/
    /*box-shadow: inset 0 0 5px 2px var(--bg-secondary-color);*/
}

.item:first-letter{
    text-transform: uppercase;
}

.item::placeholder{
    color: var(--main-color);
}