.box{
    width: 100%;
}

.text{
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 10px 5px;

    font-size: 1.2em;
    color: initial;

    border: none;
    border-bottom: 1px solid var(--main-color);
    background: transparent;

    transition: 0.5s;
    resize: none;
    overflow: hidden;
}

.text::placeholder{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.text:hover,
.text:focus{
    outline: none;
}


.text:focus::placeholder{
    opacity: 0;
}

.text:first-letter{
    text-transform: uppercase;
}

.mess{
    width: 50%;
    margin: 0 auto;

    text-align: center;
    font-size: calc(var(--text-size) * 0.7);
}

