@supports not (gap: 10px) {
    .container{
        margin-bottom: 10px;
    }
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 0;
    padding: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.item:first-child{
    max-width: 65%;
}

.item:last-child{
    max-width: 30%;
}

.title{
    margin-right: 10px;
    font-size: 1.2em;
    font-style: italic;
    /*color: var(--main-color);*/
    color: var(--text-color);
}

