.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.item:last-child{
    max-width: 30%;
}

.title{
    margin-right: 10px;
    font-size: 1.2em;
    color: var(--main-color)
}

