.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stars{
    display: flex;
    align-items: center;
    min-height: 65px;
    padding: 2px;
    margin: 0 auto;
}

.stars>span{
    line-height: 1em;
    transition: 0.5s;
}

.stars>span:hover{
    transform: scale(1.2);
}

.mess__error{
    color: red;
}

