.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 80vh;
    padding: 20px;
}

.wrap {
    max-width: 60%;
    padding: 30px 0;
}

.title {
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
    line-height: 1.4em;
    color: var(--main-color);
}

.score {
    padding: 20px 0;

    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    color: var(--other-color);
}

.text {
    position: relative;
    width: 70%;
    padding: 30px 0;

    text-align: center;
    font-size: 1.4em;
}

.text::after,
.text::before{
    position: absolute;

    content: "";

    width: 100%;
    height: 2px;

    animation: toMove 5s;
}

.text::after {
    top: 0;
    left: 0;

    background: var(--main-color);
}

.text::before {
    bottom: 0;
    right: 0;

    background: var(--other-color);
}
.stars {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.stars > span {
    line-height: 1em;
}

@keyframes toMove {
    0% {
        opacity: 0.2;
        width: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
